#[Unit]
#Description=Prometheus
#Wants=network-online.target
#After=network-online.target
#
#[Service]
#Type=simple
#WorkingDirectory=/opt/{{prometheus_dir}}
#ExecStart=/opt/{{prometheus_dir}}/prometheus
#
#[Install]
#WantedBy=multi-user.target