[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/{{prom_dir}}
ExecStart=/opt/{{prom_dir}}/prometheus

[Install]
WantedBy=multi-user.target