[Unit]
Description=prometheus
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/{{prometheus_dir}}/prometheus --collector.systemd

[Install]
WantedBy=multi-user.target